.textContainer {
  background-color: #2c3e50;
  color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left:20px;
  border-radius: 20px;
  box-shadow :10px 10px 10px rgba(0,0,0,0.4);

}

.activeContainer {
  display: flex;
  flex-direction: column;
}

.activeItem {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #34495e;
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  font-family: poppins;
}
h1{
  font-size: 20px;
}
@media (max-width: 768px) {
  .container {
    height: 100%;
    width: 100%;
    border-radius: 0;
  }

  .infoBar {
    flex-direction: column;
    text-align: center;
  }

  .form {
    flex-direction: column;
  }

  .input {
    width: 100%;
    margin-bottom: 10px;
  }

  .sendButton {
    width: 100%;
  }

  .textContainer {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 1200px) {
  .textContainer {
    display: none;
  }
}