* {
  box-sizing: border-box;
}
.messageContainer {
  display: flex;
  padding:10px;
  align-items: flex-end; /* NEW */
  flex-direction: row;
    margin-bottom: 5px;


}

.messageBox {
  padding: 0px 10px;
  border-radius: 10px;
  font-size: 1rem;
  max-width: 70%;
  word-break: break-word;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.backgroundBlue {
  background-color: #36ee7d;
  color: black;
  font-weight: 500;
}

.backgroundLight {
  background-color: #ecf0f1;
  
  color: black;
}

.sentText {
  font-size: 0.8rem;
  /* color: #7f8c8d; */
  color: rgb(138, 139, 138);
  margin: 0 10px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .messageBox {
  padding: 0px 10px;
  border-radius: 10px;
  font-size: 0.8rem;
  max-width: 70%;
  word-break: break-word;
  
}
.sentText{
  font-size: 0.6rem;
}
}