.messageContainer {
  display: flex;
  padding:10px;
}

.messageBox {
  padding: 0px 10px;
  border-radius: 10px;
  font-size: 1rem;
  max-width: 70%;
  word-break: break-word;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.backgroundBlue {
  background-color: #58abe2;
  color: white;
}

.backgroundLight {
  background-color: #ecf0f1;
  
  color: black;
}

.sentText {
  font-size: 0.8rem;
  color: #7f8c8d;
  margin: 0 10px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .messageBox {
  padding: 0px 10px;
  border-radius: 10px;
  font-size: 1rem;
  max-width: 70%;
  word-break: break-word;
  
}
}