html, body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.joinOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background:url('https://t4.ftcdn.net/jpg/06/20/09/91/360_F_620099106_87XhpxWUWwNSENwYl3mgc754k1Gpppgb.jpg');
/* background-color: black; */
}

.joinInnerContainer {
  width: 25%;
  border : none;
  padding : 40px;
  background-color: rgb(241, 239, 237);
  border-radius: 20px;
  box-shadow: 30px 30px 30px rgb(14, 14, 14);
}

.joinInput {
  border-radius: 0;
  padding: 15px 20px;
  width: 100%;
  border-radius: 10px;
  font-size: 19px;
}

.heading {
  
  color: rgb(11, 11, 11);
  font-size: 2.5em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-bottom: 3px solid black ;
  margin-bottom: 40px;


}

.button {
    text-transform: uppercase;
    text-decoration: none;
    background: #050505;
    color: aliceblue;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 60% !important;
    transition: all 0.5s ease;
    font-size: 1.07rem;
}
.button:hover{
  transform: scale(1.2);
}
.button i{
  transition: all 0.5s ease;
}
.button:hover i{
  transform: translate(10px);
}


@media (min-width: 320px) and (max-width: 768px) {
  .joinOuterContainer {
    height: 100%;
    position : fixed;
    width: 100%;
  }

  .joinInnerContainer {
    width: 90%;
  }
  .button{
    width : 100px !important;
    height :20px !important;
    padding: 0px;
    font-size: 13px;
  }
.joinInput{
  padding:10px;
  font-size: 15px;;
}

}
.joinInput{
  margin-bottom: 15px;
}
button:focus {
  outline: 0;
}