.infoBar {
background-color: #0e0d0d;
  color: #ecf0f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  align-content: center;
  justify-content: center;
  position: relative;
}


.leftInnerContainer,
.rightInnerContainer {
  flex: 1;
  display: flex;
  align-items: center;
}

.rightInnerContainer {
  justify-content: flex-end;
}

#exit{
  background-color: 	#E32636;
  padding: 0px 10px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.5s ease;
  border: solid 1px black;
  box-shadow: 5px 5px 10px #161616;
  font-size: 15px;
}
img{
  width : 10px;
  margin:10px;
    transition: all 0.4s ease;

}
#close{
  margin:0;
}
a:hover{
  transform: scale(1.04);
}
a:hover img{
  width : 15px;
}
@media (max-width: 768px) {
   .infoBar {
    height: 80px;
    padding: 0px;
    text-align: center;
    position: fixed; /* FIXED here too */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }

  .leftInnerContainer,
  .rightInnerContainer {
    flex: 1;
    justify-content: center;
    margin: 10px 0;
  }

  h3 {
    font-size: 18px;
  }

  a {
    padding: 8px 12px;
    font-size: 14px;

  }

  img {
    width: 10px;
  }
  .rightInnerContainer{
    position: fixed;
    right : 10px;
    width : 60px;
    padding: 0;
    
  }
  .rightInnerContainer a{
    font-size: 10px !important;
    padding: 5px !important;

  }
  .leftInnerContainer{
    position: fixed;
    left : 10px;
  }
}
