.infoBar {
  background-color: #2c3e50;
  color: #ecf0f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
}

.leftInnerContainer,
.rightInnerContainer {
  flex: 1;
  display: flex;
  align-items: center;
}

.rightInnerContainer {
  justify-content: flex-end;
}

#exit{
  background-color: #e74c3c;
  padding: 10px 20px;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.5s ease;
  border: solid 1px black;
  box-shadow: 5px 5px 10px #161616;
}
img{
  width : 10px;
  margin:10px;
    transition: all 0.4s ease;

}
#close{
  margin:0;
}
a:hover{
  transform: scale(1.04);
}
a:hover img{
  width : 15px;
}
@media (max-width: 768px) {
  .infoBar {
    height: 80px;
    padding: 10px;
    text-align: center;
    position: sticky;
    top :0px;
  }

  .leftInnerContainer,
  .rightInnerContainer {
    flex: 1;
    justify-content: center;
    margin: 10px 0;
  }

  h3 {
    font-size: 18px;
  }

  a {
    padding: 8px 12px;
    font-size: 14px;

  }

  img {
    width: 10px;
  }
}
