.messages {
  flex: 1;
  padding: 0px;
  overflow-y: auto;

  background-image: url('https://i.pinimg.com/736x/6a/8e/a0/6a8ea0ed32ebef5f8fd50dfdd2523b10.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative; /* Not fixed */
}
