*{
  font-family: poppins;
}

.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #1f1c2c, #8d84b9);
  padding: 20px;
 
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 15px ;
  width: 100%;
  max-width: 850px;
  height: 90vh;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  
}
.outerContainer {
  min-height: 100vh;
}

.container {
  min-height: 89vh;

}


@media (min-width: 320px) and (max-width: 480px) {
  .outerContainer {
    height: 90vh;
    border-radius: 0px;
    padding:0px;
     position : sticky;
  right :0;
  left :0;
  top : 0;
  bottom:0;
  }

  .container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top:80px;
  height : 70vh !important;
}


}
